@charset "utf-8";
/*
 ====================
 全局公共样式
 2011-01-24
 ====================
*/

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p{color:#333333; font:12px/1.5 tahoma,arial,\5b8b\4f53; list-style:none; margin:0px; padding:0px; }
a{color:#0000CC; text-decoration:none; outline:none;}
a:hover{color:#0099FF; text-shadow:1px 1px 0px #FFFFFF; text-decoration:none;}
div{overflow:hidden;}
img{border:none; margin:0px; padding:0px;}
img,input,select,textarea,label{vertical-align:middle;}
select{height:22px; font:13px Verdana;}
h1{font-size:20px; font-weight:bold;}
h2{font-size:18px; font-weight:bold;}
h3{font-size:16px; font-weight:bold;}
h4{font-size:14px; font-weight:bold; padding:0px 10px;}
h5{font-size:12px; font-weight:bold; padding:0px 10px;}
h5 .fr{font-weight:normal;}

/* 表单样式 */
.ipCss{font-family:Verdana; height:12px; line-height:14px; padding:3px;}
.bnCss{font:12px \5b8b\4f53; height:22px; line-height:20px; padding:0px 10px; cursor:pointer;}
.taCss{line-height:20px; padding:3px;}
.fileCss{font:13px Verdana; padding:2px; cursor:pointer;}

/*
 ====================
 Css 组合样式
 2011-01-24
 ====================
*/

/* 文字颜色 */
.c0{color:#000000;}
.c6{color:#666666;}
.red{color:#FF0000;}

/* 字体样式 */
.fwb{font-weight:bold;}
.fwn{font-weight:normal;}

/* 文字对齐方式 */
.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}

/* 浮动和清除浮动 */
.fl{float:left;}
.fr{float:right;}
.cf{clear:both;}

/* 行高 */
.lh24{line-height:24px;}
.lh28{line-height:28px;}
.lh32{line-height:32px;}

/* Other */
.cup{cursor:pointer;}

/*
 ====================
 页面样式
 2010-12-12
 ====================
*/

/* 页面顶部 top.php */
#top_page{height:59px; border-bottom:1px solid #7AA5D6; background:#E5ECF9; overflow:hidden;}
#top{height:60px; display:block; margin:0px 10px;}
#top .logo{width:200px; height:60px;}
#top .logo h1{color:#305E9C; font-size:28px; font-family:\9ED1\4F53; line-height:45px; text-shadow:1px 1px 0px #FFFFFF; cursor:default;}
#top .logo p{font-family:"lucida console"; letter-spacing:1px; margin:-8px 0px 0px 0px; text-shadow:1px 1px 0px #FFFFFF;}
#top .nav{margin-left:220px; height:60px; overflow:visible;}
#top .nav .top_menu{height:28px;}
#top .nav .themes select{font-size:12px; width:100px; height:20px; margin:3px 0px;}

/* 页面左侧 left.php */
#left{border:1px solid #7AA5D6; border-top:none; background:#FFFFFF; margin:10px 0px 10px 10px; -moz-border-radius:3px; -webkit-border-radius:3px;}
#left h5{color:#305E9C; height:29px; line-height:29px; border-top:1px solid #7AA5D6; background:#E5ECF9; text-shadow:1px 1px 0px #FFFFFF; cursor:pointer;}
#left ul{padding:6px 12px;}
#left ul li{height:28px; background:url(images/li.gif) no-repeat left center; padding-left:10px;}
#left ul li a{padding:3px 5px; display:block;}
#left ul li a:hover{background:#EFF4F7; text-decoration:none;}

/* 右侧默认页 main.php */
#main{border:1px solid #FFFFFF; padding:10px; overflow:hidden;}
#main .menu_type{border:0px solid red;}
#main .menu_type ul{height:24px;}
#main .menu_type ul li{float:left;}
#main .menu_type ul li a{width:80px; height:24px; line-height:24px; background:url(images/nav_bg.gif) no-repeat center bottom; display:block; text-align:center; margin-right:5px;}

#main h5{height:28px; line-height:28px; border-top:1px solid #7AA5D6; background:#E5ECF9; margin-bottom:10px; text-shadow:1px 1px 0px #FFFFFF; clear:both;}
#main table{width:100%; font-family:"lucida console"; margin-bottom:10px; cursor:default;}
#main table tr th{height:28px; font-weight:normal; border-bottom:1px solid #CCCCCC; text-align:left; padding:0px 10px;}
#main table tr td{height:28px; padding:0px 10px;}
#main table tr td label{background:url(images/label_bg.gif) no-repeat left center; padding-left:6px;}
/* jq */ .tr_even{background:#FFFFFF;}
/* jq */ .tr_odd{background:#F3F3F3;}
/* jq */ .on_tr{background:#E5ECF9;}
#main table tr td .edit{background:url(images/edit.gif) no-repeat left center; padding-left:12px; text-shadow:1px 1px 0px #FFFFFF;}
#main table tr td .delete{background:url(images/delete.gif) no-repeat left center; padding-left:12px; text-shadow:1px 1px 0px #FFFFFF;}

#main .pager{height:20px; line-height:20px; border-top:1px solid #CCCCCC; text-align:right; padding:5px 0px;}
#main .pager a{padding:2px 5px;}
#main .pager a:hover{background:#E5ECF9; text-decoration:none;}

/* 页面底部 bottom.php */
#bottom{height:24px; border-top:1px solid #7AA5D6; background:#E5ECF9; text-align:center; padding:0px 10px;}
#bottom p{text-shadow:1px 1px 0px #FFFFFF; }




